{% if role == 'leaf' %}
!
ip virtual-router mac-address 00:aa:aa:aa:aa:aa
!
interface Vxlan1
   vxlan source-interface Loopback0
   vxlan udp-port 4789
{% if vxlan.vlans is iterable %}
{% for vlan in vxlan.vlans %}      
   vxlan vlan {{ vlan }} vni {{ vxlan.vlans[vlan].vni }}
{% endfor %}
{% endif %}
{% endif %}
